/*
_________   _________ _________
\_   ___ \ /   _____//   _____/
/    \  \/ \_____  \ \_____  \
\     \____/        \/        \
 \______  /_______  /_______  /
        \/        \/        \/
*/

/*
Setze margin, padding und outline für alle Elemente standartmässig auf 0.
So werden ungewollte abstände vermieden
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.header-image {
  width: 100%;
  height: 120px;
  display: grid;
  place-content: center;
  background-color: #000;
}

.header-image img {
  margin-top: 10px;
  height: 100px;
  border-radius: 100%;
}

.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header {
  display: grid;
  place-content: center;
  width: 100%;
  height: 80px;
  background-color: #000;
}

.header h1 {
  color: #fff;
  font-family: monospace;
}

.menu {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #000;
}

.menu-icon {
  width: 100%;
  padding: 10px 0;
}

.menu-icon div{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: calc(50% - 15px);
}

.arrow-up {
  transform: rotate(180deg);
}

.menu-icon:active{
  border-top-color: #888;
}

.open {
  display: block!important;
}

.menu-content {
  transition: .1s;
  display: none;
  width: 100%;
}

.menu-link {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 40px;
  text-decoration: none;
}

.menu-link:hover{
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.search {
  padding-top: 10px;
  width: 100%;
  background-color: #000;
}

.input-txt {
  display: block;
  border: none;
  width: 90%;
  height: 35px;
  margin: 0 5% 10px 5%;
  font-size: 30px;
  font-family: monospace;
  border-radius: 10px;
}

.input-btn {
  display: block;
  border: none;
  width: 90%;
  margin-left: 5%;
  height: 40px;
  font-size: 35px;
  font-family: monospace;
  background-color: #61FF62;
  color: #000;
}


.imageGrid {
  width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 25%;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.series-header-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0336FF;
}

.allseries {
  font-family: monospace;
  color: #fff;
}

.serie-item {
  width: 100%;
}

.serie-header {
  width: 100%;
  height: 60px;
  display: grid;
  place-content: center;
}

.serie-title {
  font-family: monospace;
}

.serie-image {
  width: 100%;
  height: auto;
}

.serie-image img {
  width: 100%;
}

.serie-description{
  width: 100%;
  height: 40px;
}

.serie-description a{
  font-family: monospace;
  font-size: 20px;
}

.serie-description-complete p {
  font-family: monospace;
}

.serie-description-complete span {
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
}

.footer-section {
  width: 100%;
  height: 100px;
  background-color: #000;
  display: grid;
  place-content: center;
}

.footer-section img {
  height: 40%;
}

.footer-section p {
  font-family: monospace;
  color: #fff;
}

.btn-back {
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  width: 90%;
  height: 35px;
  margin: 17.5px 0 0 5%;
  font-size: 25px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #fff;
  color: #000;
}

.back {
  width: 100%;
  height: 70px;
  background-color: #000;
}

.movie-ad {
  position: absolute;
  top: 0;
  width: 100%;
  height: 175px;
  background-color: #FF4B49;
  z-index: 10;
  background-image: url("https://www.proprofs.com/quiz-school/topic_images/p193ihd8hle998s0rgpqmkb3.jpg");
  background-size: contain;
}

.ad-close {
  width: 40px;
  height: 40px;
  z-index: 11;
  float: right;
}

.ad-close:hover span {
  color: #000;
}

.ad-close span {
  font-family: monospace;
  color: #000;
  font-size: 30px;
}
