{% include "header.html" %}

<div class="header">
  <h1>BingeLife - {{ title }}</h1>
</div>
<div class="top">
  <div class="search">
    <form action="/search">
      <input class="input-txt" type="text" name="q" />
      <input class="input-btn" type="submit" value="Suchen">
    </form>
  </div>

  <div class="menu">
    <div class="menu-content">
      <a class="menu-link">
        Home
      </a>
      <a class="menu-link">
        About
      </a>
      <a class="menu-link">
        Contact
      </a>
    </div>
    <div class="menu-icon">
      <div></div>
    </div>
  </div>
</div>

{% include "imageGrid.html" %}

{% include "footer.html" %}
